body {
  background: url('/images/gr.png');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  /*font-family: helv, sans-serif;*/
}
/*
@font-face {
    font-family: helf;
    src: url(images/helv.ttf);
    font-weight:400;
}*/

.content h1, .content h2, .content h3 {
  color: white !important;
}

.top-space {
  padding-top: 22em;
}

.spaces {
  padding-top: 14em;
}

.little-spaces {
  padding-top: 4em;
}
.scrolls {
  color: white;
  font-size: 14pt;
  z-index: 998;
}
.gradient {
  background-image: linear-gradient(to bottom, transparent, white);
  height: 400px !important;
  z-index: 996;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

.line {
  background-color: #aee100;
  height: 3px;
  width: 100%;
  z-index: 997;
  position: fixed;
  left:0px;
  top: 0px;
}

.tag {
  color: black;
  font-size: 18pt;
}

.is-custom {
  background-color: white !important;
  opacity: .3 !important;
}

.bit-top-space {
  padding-top: 14em;
}

.dog {
  font-size: 30pt;
}

a {
  color: #aee100 !important;
}



@media (max-width: 600px) {
  .top-space {
    padding-top: 8em;
  }
  .scrolls {
    padding: 7%;
  }
  .tag {
    font-size: 10pt;
  }
  .gradient {
    height: 135px !important;
  }
}
